
body{
    background-color: #f3eaf4;
    color: #69385c;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; /*Espaçamento entre linhas*/
    text-align: justify;
    margin: auto;
    width: 80%;
}

h1, h2{
    background-color: #e5cedc;
    padding: 5px;
}
p{
    text-indent: 10px;
}
.destaque{
    text-transform: uppercase;
}
a{
    color: #69385c;
}
.form2 label{
    padding: 5px 0;
    display: block; /*a tag label é um elemente do linha, portanto trabsformamos ela em um elemento de bloco.*/
}
.form2 input{
    display: block;
    padding: 5px 10px;
}
.form2 textarea{
    padding: 5px 10px;
    display: block;
}
.submit{
    margin-top: 10px;
}
.block{
    padding: 5px 0;
    display: block; /*a tag label é um elemente do linha, portanto trabsformamos ela em um elemento de bloco.*/
}
.block div, label{
    padding: 5px 0;
    display: block; /*a tag label é um elemente do linha, portanto trabsformamos ela em um elemento de bloco.*/
}
.form3 div{
    padding: 5px 0;
}
fieldset{
    margin-bottom: 20px;
}
