@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap'); 

* {
    font-family: 'Sanchez', sans-serif;
    text-align: center;
    background-color: #F5ECEC;
}

header img {
    text-align: center;
}

ul li {
    display: inline-block;
}

.container img {
    position: center;
    height: 1016px;
    width: 454px;
    border-radius: 152px;
} 




