*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --cor-de-fundo:#01030b;
    --branco-principal:#FFFFFF;
    --cinza: #C0C0C0;
    --azul-botao:#167BF7;

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    align-items: center;
}
.cabecalho{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    
}
.bloco{
    display: block;
}
.cabecalho__botao{
    padding: 10px;
    border: 1px solid var(--azul-botao);
    background-color: var(--azul-botao);
    text-align: center;
    color: var(--branco-principal);
    border-radius: 5px;
    text-decoration: none;
   width: 90%;
    
}
.cabecalho__caixa{
    width: 90%;
    margin: auto;
}
.cabecalho__botao-transparente{
    border: 1px solid var(--branco-principal);
    background-color: transparent;
}