<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Layout | Teste - Bruna</title>
</head>
<body>
<header class="cabecalho">
    <div class="cabecalho_conteudo">
        <h1></h1>
        <h2></h2>
        <p>Clique aqui</p>
    </div>
    <nav class="cabecalho_menu">
                <a href="#">Início</a>
                <a href="#">Quem sou eu</a>
                <a href="#">Contato</a>
    </nav>
</header>
    <main>
            <section class="conteudo-1">
                <img src="#">
                <p></p>
                <img src="#">
                <p></p>
                <img src="#">
                <p></p>
            </section>
            <section class="conteudo-2">
                <article>
                <h3>Texto 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem voluptates ea vitae aliquid enim magni omnis dicta quis cupiditate velit officia consequatur nesciunt laudantium nostrum, quas libero fuga porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem voluptates ea vitae aliquid enim magni omnis dicta quis cupiditate velit officia consequatur nesciunt laudantium nostrum, quas libero fuga porro.</p>
                </article>
            </section>
    </main>
<footer>
                <p>Copywright | 2021</p>
</footer>    
</body>
</html>