<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Layout | Teste - Bruna</title>
</head>
<body>
<header>
    <nav>
        <ul>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
        </ul>
    </nav>
</header>
<section class="conteudo-1">
<img src="#">
<p></p>
<img src="#">
<p></p>
<img src="#">
<p></p>
</section>
<section class="conteudo-2">
<article>
    <h2>Texto 1</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem voluptates ea vitae aliquid enim magni omnis dicta quis cupiditate velit officia consequatur nesciunt laudantium nostrum, quas libero fuga porro.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem voluptates ea vitae aliquid enim magni omnis dicta quis cupiditate velit officia consequatur nesciunt laudantium nostrum, quas libero fuga porro.</p>
</article>
<footer>
<p>Copywright | 2021</p>
</footer>    
</body>
</html>