@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
        font-family: 'Bebas Neue', cursive;
        background-color: antiquewhite;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.cabecalho {
    background-image: url(./img/bg-3.jpg);
    background-position: left;
    background-size: cover;
    height: 500px;
}

.cabecalho_menu {
    text-align: right;
}

.cabecalho_menu a {
    display: inline-block;
    padding: 10px;
}


