@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
        font-family: 'Bebas Neue', cursive;
        background-color: antiquewhite;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.cabecalho {
    background-image: url(./img/bg-3.jpg);
    background-position: left;
    background-size: cover;
    height: 500px;
}

.cabecalho_menu {
    text-align: right;
}

.cabecalho_menu a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    margin-top: 10px 20px 0 0;
    background-color: #00000083;
    color: white;
}

.cabecalho_conteudo {
    text-align: center;
    margin-top: 150px;
}

.cabecalho_conteudo h1 {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 7px #000;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.cabecalho_conteudo p {
    color: #fff;
    background-color: #00000083;
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #fff;
}


<!-- link text-shadow --!>
https://www.w3schools.com/cssref/css3_pr_text-shadow.php


<!-- link inscricao github education --!>
https://education.github.com/partner_school_applications/apply
https://support.github.com/contact/campus-program
